.example{
	margin-left: 250px; 
	margin-top: 30px;
	
}
.example-left{
	float: left;
}
.list-1{
	width: 200px;
	list-style: none;
	line-height: 30px;
	text-align: center;
	border: 2px solid #e6e8e7;
}
.box{
	width: 500px;
	height: 200px;
	/*background-color: red;*/
	float: left;
	overflow: hidden;
	margin-left: 100px;
}
.example-right{
	width: 10000px;
}
.list-2{
	width: 500px;
	height: 200px;
	line-height: 30px;
	display: none;
	list-style: none;
	/*border: 1px solid green;*/
}
