*{
	margin: 0px;
	padding: 0px;
	font-family:"Lucida Console", Monaco, monospace;
}
#header{
	height: 248px;
	background-color: #eaeeed;
}
.top{
	width: 1080px;
	height: 148px;
	text-align: center;
	margin: 0 auto;
	background-color: #fff;
}
.top img{
	margin-top: 30px;

}
.nav{
	height: 100px;
	background-image: url(../images/nav-bg.gif);
}
.nav-iner{
	width: 940px;
	height: 130px;
	display: block;
	margin: 0 auto;
}
.nav-list{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	list-style: none;
	margin-left: 20px;
	float: left;
	margin-top: 25px;
	font-size: 30px;
}
.nav-list a{
	text-decoration: none;
	color: #fefdf8;
}
.list-1{
	height: 20px;
	width: 300px;
	display: none;

}
.list-1 li{
	list-style: none;
	height: 20px;
	line-height: 20px;
	float: left;
	font-size: 15px;
	color: #e85835;
	
}
.list-1 a{
	 color: #e85835;
}
/*banner图片*/
#banner{
	height: 800px;
	min-width: 1000px;
	background-color: #eaeeed;

	
}
.banner-iner{
	width: 1080px;
	height: 800px;
	margin: 0 auto;
	background-color: #fff;
}
.banner-left{
	width: 530px;
	height: 800px;
	float: left;
}
.banner-left img{
	width: 330px;
	height: 280px;
	display: block;
	margin-left: 100px;
	margin-top: 70px;
	border: 5px solid #ff6765;
}
.fenge{
	width: 4px;
	height: 2000px;
	float: left;
	background-color: #b9eefb;
	margin-left: 8px;
}
.banner-right{
	width: 530px;
	height: 800px;
	
	float: left;
}
.banner-right img{
	width: 330px;
	height: 280px;
	float: left;
	display: block;
	margin-left: 100px;
	margin-top: 70px;
	border: 5px solid #ff6765;
}

